body {
  text-align: center;
  font-family: sans-serif;
  color: #FFFFFF
}

body {
  text-align: center;
}

body {
    background-image:url('images/cat.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}


a {
  font-family: inherit;
  color: #FFFFFF
}
